
.title {
    text-align: center;
    padding: 2rem;
}

.cartImg {
    width: 100px;
    object-fit: cover;
}

.cartProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    
}

.text {
    text-align: center;
}

.totalText {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 50vh;  
}

.productCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}