
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shoppingCartIcon {
    cursor: pointer;
}


.startShoppingBtn {
    cursor: pointer;
}

.mainText > h1 {
    font-size: 3rem;
}

.mainText > h2 {
    width: 400px;
    text-align: center;
}

.mainText {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer {
    text-align: center;
}