.addToCartBtn {
    cursor: pointer;
    text-decoration: none;
}

.productImg {
    width: 200px;
    height: 200px;
    object-fit: contain;
    cursor: pointer;
}

.prodTitle {
    width: 250px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    min-height: 100px;
    max-height: 100px;
    text-align: center;
}

