.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shoppingCartIcon {
    cursor: pointer;
    text-decoration: none;
    color: black;
}


.startShoppingBtn {
    cursor: pointer;
}

.main {
    text-decoration: none;
    color: black;
}
